{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

     <title>Dashboard Dedutel</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="R">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
     <link rel="stylesheet" href="{% static 'css/aos.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-digital-trend.css' %}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="http://172.20.108.25:8000/">
              <i class="fa fa-line-chart"></i>
              Dedutel
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="http://172.20.108.25:8000/" class="nav-link smoothScroll">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://172.20.108.25:8000/login/" class="nav-link smoothScroll">Ingresa</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Tutorial</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://172.20.108.25:8000/Contacto/" class="nav-link contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                  <h1 class="text-white" data-aos="fade-up"><strong>Aprende</strong> y conoce el funcionamiento de <strong>PLC</strong> en la <strong>nube</strong></h1>

                                   <a href="http://172.20.108.25:8000/Contacto/" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Contactanos y hagamos esto <juntos></juntos>!</a>

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +55 5359 5261</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{% static 'media/Graficc.png' %}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>

    <br><br><br><br><br><br>
     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">El mejor <strong>Servicio de comunicacion</strong> en la industria 4.0</h2>

                              <p class="mb-0" data-aos="fade-up">Control total desde donde estes, controla tus dispositvos <strong>desde tu Smartphone</strong>

                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">
                             
                          <img src="{% static 'media/office.png' %}" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                        <h2 class="mb-5 text-center" data-aos="fade-up">
                            Maneja el PLC desde Casa
                            <strong>Conecta los Dispositvos que quieras!!</strong>
                        </h2>

                         <div class="owl-carousel owl-theme" id="project-slide">
                              <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="{% static 'media/project/project-image01.jpg' %}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Industria 4.0</small>

                                        <h3>

                                                  <span>Conocela de primera mano</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="{% static 'media/project/project-image02.jpg' %}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Sensores Industriales</small>

                                        <h3>

                                                  <span>Conecta el Sensor de tu agrado</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="{% static 'media/project/project-image03.jpg' %}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Actuadores</small>

                                        <h3>

                                                  <span>Conoce los Actuadores que se usan en la Industria</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="{% static 'media/project/project-image04.jpg' %}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Sistemas</small>

                                        <h3>

                                                  <span>Pon aprueba un Sistema Ciberfisico</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="{% static 'media/project/project-image05.jpg' %}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Programacion</small>

                                        <h3>

                                                  <span>Todo lo que ves es la pareabilidad de la programacion</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                        </h3>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Si lo puedes imaginar <strong>Lo puedes crear</strong></h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +55 5359 5261
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                ventas@dedutel.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Our Studio</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              Calle Alce Blanco 19, Alce Blanco, 53370 Naucalpan de Juárez, Méx.
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2021 Dedutel
            <br>
            <a rel="nofollow noopener" href="#">Design: Ing</a></p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
            
            <ul class="footer-link">
              <li><a href="#">Stories</a></li>
              <li><a href="#">Work with us</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>


     <!-- SCRIPTS -->
     <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>
</html>